---
import "../styles/styles.css";
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
	<h1>🚧 Site under construction 🚧</h1>
	<p>I'm working on something amazing. Come back to me later!</p>
	<p>In the meantime, take a look at my <a href="/Miroslaw_Wierzbicki_CV.pdf" target="_blank"
		rel="noopener">resume</a>, <a href="/projects">projects</a>, <a href="https://github.com/miwierzbicki" target="_blank"
		rel="noopener">GitHub</a> and <a href="https://www.linkedin.com/in/miros%C5%82aw-wierzbicki-67b87a230/" target="_blank"
		rel="noopener">Linkedin</a>.</p>
</DefaultLayout>
