---
---
<nav class="nav-container">
    <div class="logo">
        <a href="/">Mirosław_Wierzbicki</a><span class="terminal-prompt"></span>
    </div>
    <div class="social-links">
        <a
            href="/Miroslaw_Wierzbicki_CV.pdf"
            target="_blank"
            rel="noopener">My resume</a
        >
        <a href="/projects">Projects</a>
        <a
            href="https://www.linkedin.com/in/miros%C5%82aw-wierzbicki-67b87a230/"
            target="_blank"
            rel="noopener">LinkedIn</a
        >
        <a
            href="https://github.com/miwierzbicki"
            target="_blank"
            rel="noopener">GitHub</a
        >
        
    </div>
</nav>