---
import "../../styles/styles.css";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
---

<DefaultLayout>
	<h1>Datalogger</h1>
	<table>
        <th>id</th>
        <tr>test</tr>
        <td>test2</td>
    </table>
</DefaultLayout>
